.favori-mesaj {
    background-color: #4CAF50; 
    color: white; 
    padding: 15px; 
    position: fixed; 
    bottom: 20px; 
    left: 50%;
    transform: translateX(-50%); 
    z-index: 1000; 
    border-radius: 5px;
}
.favori-red {
    background-color: #FF0000; 
    color: white; 
    padding: 15px; 
    position: fixed; 
    bottom: 20px; 
    left: 50%;
    transform: translateX(-50%); 
    z-index: 1000; 
    border-radius: 5px;
}
.product-container {
    display: flex; 
    align-items: center;
    justify-content: flex-start;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 700px; 
    width: 100%; 
    position: relative;
}
.product-container:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.product-image {
    width: 200px;
    height: 200px;
    margin-right: 20px;
}
.product-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5px;
}
.product-info b{
  margin-bottom: 2px;
}
.product-detail {
    display: flex; 
    align-items: center; 
}
.action-buttons-kullanici {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
}
.like-btn {
    position: absolute;
    top:10px;
    right:10px;
    border: none;
    background: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    transition: transform 0.2s, box-shadow 0.2s;
}
.action-buttons-sepetsil {
    display: flex;
    justify-content: flex-start; 
    align-items: center;
}
.sepet-btn {
    margin-top: 75%;
    border: none;
    background: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    transition: transform 0.2s, box-shadow 0.2s;
}
.sepet_sil-btn {
    border: none;
    background: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    transition: transform 0.2s, box-shadow 0.2s;
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-right: 10px; 
}

.sepet_sil-btn img {
    width: 40px;
    height: 40px;
}
.like-btn img, .sepet-btn img {
    width: 50px;
    height: 50px;
}
.like-btn:hover, .sepet-btn:hover ,.sepet_sil-btn:hover{
    transform: scale(0.9);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}
.quantity-input {
    margin-top: 75%;
    width: 70px;
    height: 35px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
input::-webkit-outer-spin-button,input::-webkit-inner-spin-button {
         -webkit-appearance: none;
}
input {
    text-align: center;
    position: relative;
}